<% provide :title, t("layouts.header.all") %>
<h1><%= t "layouts.header.all"%></h1>
<ul class="users">
  <li>
    <%= render @users %>
  </li>
</ul>
<%= paginate @users, theme: "twitter-bootstrap-3" %>
