<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to t("layouts.header.logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to t("layouts.header.eng"), locale: :en %> </li>
      <li> <%= link_to t("layouts.header.vie"), locale: :vi %> </li>
      <li> <%= link_to t("layouts.header.log"), "#" %> </li>
      </ul>
    </nav>
  </div>
</header>
